@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --font-family-sans: 'Lexend', system-ui, sans-serif;
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: var(--font-family-sans);
}